{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>ONLINE VOTING SYSTEM</title>
    </head>

    <body>
        <title>CF CREDENTIALS</title>

    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

        <p>ONLINE VOTING SYSTEM</p>
        <p>PROFILE</p>
        <a href= "{% url 'user' %}">RETURN</a>
        <br>

        <label for="resume">RESUME/MANIFESTO</label><br>
        <input type="file" name="resume"><br>
        <label for="quali">EDUCATIONAL/PROFESSIONAL QUALIFICATIONS</label><br>
        <input type="file" name="quali"><br>
        <label for="letter">LETTER OF RECOMMENDATIONS</label><br>
        <input type="file" name="letter"><br>
        <label for="others">OTHERS:</label><br>
        <input type="file" name="others"><br>
        <br>
        <button type="submit" id="submit" name="submit">SUBMIT</button>
        <a href= "{% url 'candidacyform' %}">RETURN TO FORM</a>
        </form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>